@model MailDemon.MailListSubscription

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!-- TODO: replace the href for the css to your own css file -->
        <link rel="stylesheet" href="@(MailDemon.MailDemonWebApp.Instance.Authority)/css/site.css?v=1" />
    </head>
    <body>
        <div id="mailBody">
            <h1 id="mailHeader">
                <!-- TODO: Customize header -->
                @Model.MailList.Title
            </h1>
            <div id="mailContent">
                @RenderBody()
            </div>
            <div id="mailFooter">
                <!-- TODO: Customize footer -->
                @if (Model.UnsubscribeToken != null)
                {
                    <p><a href='@Model.UnsubscribeUrl' class="mailUnsubscribe">Unsubscribe</a></p>
                    <p>@Model.MailList.Company - @Model.MailList.PhysicalAddress</p>
                }
            </div>
        </div>
    </body>
</html>