@model MailDemon.MailListSubscription

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!-- TODO: replace the href for the css to your own css file -->
        <link rel="stylesheet" href="@(MailDemon.MailDemonWebApp.Instance.Authority)/css/site.css?v=1" />
    </head>
    <body>
        <div id="siteContainer">
            <div id="bodyContainer">
                <div id="header">
                    <!-- TODO: Customize header -->
                    @Model.MailList.Title
                </div>
                <div id="content">
                    @RenderBody()
                </div>
                <div id="footer">
                    <!-- TODO: Customize footer -->
                    @if (Model.UnsubscribeToken != null)
                    {
                        <p><a href='@Model.UnsubscribeUrl'>Unsubscribe</a></p>
                        <p>@Model.MailList.Company - @Model.MailList.PhysicalAddress</p>
                    }
                </div>
            </div>
        </div>
    </body>
</html>