@model MailDemon.MailTemplateModel
@{
    string errorClass = (Model.Error ? "error-message" : "message");
}

<h2>@MailDemon.Resources.EditTemplate</h2>

@using (Html.BeginForm())
{
    <div class="@errorClass">@Model.Message</div><br />
    @Html.LabelFor(m => m.Value.Name) @Html.EditorFor(m => m.Value.Name)<br />
    @Html.LabelFor(m => m.Value.Title) @Html.EditorFor(m => m.Value.Title)<br />
    @Html.LabelFor(m => m.Value.Text) @Html.TextAreaFor(m => m.Value.Text)<br />
    @Html.HiddenFor(m => m.Value.Id)
    <br />
    <button class="submit-button" value="save">@MailDemon.Resources.Save</button>
    if (Model.Value.Id != 0)
    {
        <button class="delete-button" name="action" value="delete" onclick="return confirm('! Confirm Deletion !');">@MailDemon.Resources.Delete</button>
        <br /><br />@Html.ActionLink(MailDemon.Resources.Test, nameof(MailDemon.HomeController.DebugTemplate), new { id = Model.Value.Name }, htmlAttributes: new { target = "_blank" })
    }
}
