@model IEnumerable<MailDemon.MailList>

<table class="defaultTable">
    <thead>
        <tr>
            <th>@MailDemon.Resources.Name</th>
            <th>@MailDemon.Resources.Company</th>
            <th>@MailDemon.Resources.Website</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Company
            </td>
            <td>
                @item.Website
            </td>
            <td>
                @Html.ActionLink(MailDemon.Resources.View, nameof(MailDemon.HomeController.Subscribers), new { id = item.Name })
                @Html.ActionLink(MailDemon.Resources.Edit, nameof(MailDemon.HomeController.EditList), new { id = item.Name })
                @Html.ActionLink(MailDemon.Resources.NewTemplate, nameof(MailDemon.HomeController.EditTemplate), new { id = item.Name })
            </td>
        </tr>
        }
    </tbody>
</table>
