@model MailDemon.LoginModel

@using (Html.BeginForm())
{
    if (User.Identity.IsAuthenticated)
    {
        <button name="action" value="logout">@MailDemon.Resources.Logout</button>
    }
    else
    {
    if (Model.Error)
    {
        <div class="error-message">@Model.Message</div><br />
    }
    @MailDemon.Resources.Login<br />
    @Html.LabelFor(m => m.UserName) @Html.EditorFor(m => m.UserName)<br />
    @Html.LabelFor(m => m.Password) @Html.PasswordFor(m => m.Password, new { @class = "text-box single-line" })<br />
    @Html.HiddenFor(m => m.ReturnUrl)
    <br />
    <button name="action" value="login" class="inline-button">@MailDemon.Resources.Login</button>
    }
}
