@model ICollection<MailDemon.MailListSubscription>

@if (Model.Count == 0)
{
    <h2>@MailDemon.Resources.ListHasNoSubscribers</h2>
}
else
{
    <h2>@string.Format(MailDemon.Resources.ListSubscribers, ViewBag.ListName)</h2>

    <table class="defaultTable">
        <thead>
            <tr>
                <th>@MailDemon.Resources.EmailAddress</th>
                <th>@MailDemon.Resources.Name</th>
                <th>@MailDemon.Resources.Company</th>
                <th>@MailDemon.Resources.SubscribedDate</th>
                <th>@MailDemon.Resources.UnsubscribedDate</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.EmailAddress
                    </td>
                    <td>
                        @((item.FirstName + " " + item.LastName).Trim())
                    </td>
                    <td>
                        @item.Company
                    </td>
                    <td>
                        @(item.SubscribedDate == default ? string.Empty : item.SubscribedDate.ToString())
                    </td>
                    <td>
                        @(item.UnsubscribedDate == default ? string.Empty : item.UnsubscribedDate.ToString())
                    </td>
                    <td>
                        <form class="inline-form" action="/Subscribers/@item.ListName?subId=@item.Id" method="post">
                            <button name="action" value="delete">@MailDemon.Resources.Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

