@model MailDemon.MailListSubscription

<h2>@string.Format(MailDemon.Resources.SubscribeText, Model.MailList.Title)</h2>

<p>@string.Format(MailDemon.Resources.SubscribeWelcome, Model.MailList.Title)</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>@MailDemon.Resources.UnsubscribeLink</p>
<p><a href="@Html.Raw(Model.UnsubscribeUrl)" target="_blank">@Model.UnsubscribeUrl</a></p>